<div style="margin-top: 1.5rem;">
    <button (click)="selectedActivity('RUNNING')" [disabled]="disabledRunning" type="button" style="background-color:transparent;" class="btn btn-default" aria-label="Left Align">
        <img src="../../../../assets//icon_start_running.png" class="icon"/>
    </button>
    <button (click)="selectedActivity('WALKING')" [disabled]="disabledWalking" type="button" style="background-color:transparent" class="btn btn-default ml-2" aria-label="Left Align">
        <img src="../../../../assets//icon_start_walking.png" class="icon"/>
    </button>
    <button (click)="selectedActivity('CYCLING')" [disabled]="disabledCycling" type="button" style="background-color:transparent" class="btn btn-default ml-2" aria-label="Left Align">
        <img src="../../../../assets//icon_start_cycling.png" class="icon"/>
    </button>
</div>