
<div class="card shadow-lg text-center container" style="background-color: rgb(119, 60, 21); height: 280px;">

    <div class="col-7 ml-0">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]='15' [mapTypeId]="'satellite'" [controlSize]='20'>
            <agm-map-type-control></agm-map-type-control>
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map> 
    </div>
    <div class="col-5 ml-0">
        <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>   
    </div>

</div>