.container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

agm-map {
    height: 280px;
}

.text-title {
    color: rgb(129, 215, 218);
}

.text-value {
    color: rgb(240, 209, 188);
}
