
<div class="card shadow-lg text-center container" style="background-color: transparent; height: 280px;">

    <div class="col-6">
            
        <agm-map [zoom]="zoom" [fitBounds]="true" [latitude]="latStart" [longitude]="lngStart" [mapTypeId]="'satellite'" [controlSize]='20'>
            
            
            <agm-map-type-control></agm-map-type-control>

            <agm-marker  [latitude]="latStart" [longitude]="lngStart" [iconUrl]="iconUrlStart"></agm-marker>
            <agm-marker [latitude]="latStop" [longitude]="lngStop" [iconUrl]="iconUrlStop"></agm-marker>

            <agm-polyline *ngFor="let polyline of polylines;let i = index;" [strokeColor]="polyline && polyline.color" > 

                <ng-container *ngIf="polyline">

                    <agm-polyline-point [agmFitBounds]="true" 
                                        [latitude]="polyline.path[0].latitude" 
                                        [longitude]="polyline.path[0].longitude"
                    > 
                    </agm-polyline-point> 

                    <agm-polyline-point [agmFitBounds]="true" 
                                        [latitude]="polyline.path[1].latitude" 
                                        [longitude]="polyline.path[1].longitude"
                    > 
                    </agm-polyline-point> 

                </ng-container>

           </agm-polyline> 

        </agm-map> 
        
    </div>
    <div class="col-6 ml-0">
        <div class="text-title">
            <h5><app-localized-text text="statisticsLastActivity"></app-localized-text></h5>

            <div class="pb-2" style="font-size: 0.8rem; color: white;">
                <app-converter [value]="lastActivity.date" type="date"></app-converter> - 
                {{lastActivity.cityStart}}
                <span *ngIf="lastActivity.placeName">({{lastActivity.placeName}})</span>
            </div>
            <div class="pb-2" style="font-size: 0.8rem; color: white;">
                <span *ngIf="lastActivity.weatherStartTemperature">{{lastActivity.weatherStartTemperature}} °C </span>
                <span *ngIf="lastActivity.weatherStartIcon"><img [src]="weahterIconUrl" style="width: 2rem;"/></span>
                <span *ngIf="lastActivity.weatherStartDescription"> ({{lastActivity.weatherStartDescription}})</span>
                <span *ngIf="lastActivity.weatherStartWindSpeed"> 
                    - <app-converter [value]="lastActivity.weatherStartWindSpeed" type="speed"></app-converter>
                        <span *ngIf="weatherWindOrientation === 'N' ">
                            <app-localized-text text="statisticsWindNorth"></app-localized-text>
                        </span>
                        <span *ngIf="weatherWindOrientation === 'NE' ">
                            <app-localized-text text="statisticsWindNorthEast"></app-localized-text>
                        </span>
                        <span *ngIf="weatherWindOrientation === 'E' ">
                            <app-localized-text text="statisticsWindEast"></app-localized-text>
                        </span>
                        <span *ngIf="weatherWindOrientation === 'SE' ">
                            <app-localized-text text="statisticsWindSouthEast"></app-localized-text>
                        </span>
                        <span *ngIf="weatherWindOrientation === 'S' ">
                            <app-localized-text text="statisticsWindSouth"></app-localized-text>
                        </span>
                        <span *ngIf="weatherWindOrientation === 'SW' ">
                            <app-localized-text text="statisticsWindSouthWest"></app-localized-text>
                        </span>
                        <span *ngIf="weatherWindOrientation === 'W' ">
                            <app-localized-text text="statisticsWindWest"></app-localized-text>
                        </span>
                        <span *ngIf="weatherWindOrientation === 'NW' ">
                            <app-localized-text text="statisticsWindNorthWest"></app-localized-text>
                        </span>
                </span>
            </div>
        </div>

        <div class="column">
            
        
        </div>
        <div class="row">
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsDistance"></app-localized-text>
                </span>
                <span class="text-value">
                    <app-converter [value]="lastActivity.distance" type="distance"></app-converter>
                </span>
            </div>
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsSpeed"></app-localized-text>
                </span>
                <span class="text-value">
                    <app-converter [value]="lastActivity.averageSpeed" type="speedLast"></app-converter>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsTime"></app-localized-text>
                </span>
                <span class="text-value">
                    {{lastActivity.chrono}}
                </span>
            </div>
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsCalories"></app-localized-text>
                </span>
                <span class="text-value">
                    {{lastActivity.calories}}
                </span>
            </div>
        </div>
        <div class="row justify-content-center pt-3">
            <span class="text-value" style="color: white; font-size: .9rem;">
                {{lastActivity.comment}}
            </span>
        </div>

    </div>

</div>