<app-header [isAuthenticated]="isAuthenticated" [user]="user"></app-header>

<ng-container *ngIf="statsIsLoading">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="!statsIsLoading && errorMessage !== null">
    <div class="container-error">
        <app-error [errorMessage]="errorMessage"></app-error>
    </div>
</ng-container>

<ng-container *ngIf="!statsIsLoading && errorMessage === null">
    <div class="container-stats">
        <div class="container-home-stats">
            <div class="column">
                
                <div class="row ml-0 justify-content-center align-items-center" style="width: 90vw; height: 8vh">
                    <stats-header-buttons></stats-header-buttons>
                </div>
        
                <div class="row ml-0 align-items-center" style="width: 90vw; height: 35vh">
                    <div class="row col-md-5 justify-content-center ml-0">
                        <stats-resume [activityDatas]="activityDatas" class="stats-resume"></stats-resume>
                    </div>
                    <div class="row col-md-7 justify-content-center">
                        <last-activity [lastActivity]="lastActivity" class="last-activity"></last-activity>
                    </div>
                </div>
        
                <div class="row ml-0 justify-content-center align-items-center" style="width: 90vw; height: 45vh;  background-color: rgb(129, 129, 172);">
                    <span>Toto</span>
                </div>
        
            </div>
        </div>
    </div>
</ng-container>

