<app-header [isAuthenticated]="isAuthenticated" [user]="user"></app-header>

<ng-container *ngIf="statsIsLoading">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="!statsIsLoading && errorMessage !== null">
    <div class="container-error">
        <app-error [errorMessage]="errorMessage"></app-error>
    </div>
</ng-container>

<ng-container *ngIf="!statsIsLoading && errorMessage === null">
    <div class="container-stats">
        <app-homes-stats [language]="language"></app-homes-stats>
    </div>
</ng-container>

