.container-home-stats {
    background: linear-gradient(rgba(102, 65, 65, 0.3), rgba(0,0,0, .5));
    background-color: rgb(58, 33, 19); 
    height: 85vh; 
    width: 90vw;
    margin-top: 15rem;
    animation: .8s linear translateFromTop;
}

.stats-resume {
    width: 80% !important;
}

@keyframes translateFromTop {
    from { transform: translateY(-100vh); }
    to   { transform: translate(0px); }
}

@media (max-width: 768px) {

    .container-home-stats {
        height: 120vh; 
    }
}

@media (max-width: 450px) {

    .container-home-stats {
        margin-top: 12rem;
    }
}

@media (max-width: 320px) {

    .container-home-stats {
        margin-top: 11rem;
    }
}