
<div class="fade-in" style="display: flex; flex-direction: column; flex: 1; justify-content: center; align-items: center; height: 100vh; background-color: black; padding-bottom: 10rem;">
    <div class="blink_me" style="position: relative; top: 140px; font-family: 'Amatic SC'; font-size: 2.5rem; color: rgb(252, 180, 146);">        
        <app-localized-text text="statisticsLoading"></app-localized-text>
    </div>
    <div>
        <img src="../../../../assets//processing1.gif" class="navbar-brand-img"/>
    </div>
</div>
