.modal {
    -webkit-overflow-scrolling: auto !important;
    overflow-y: auto !important;
    transition: all 0.4s;  
}

.modal-transition-in {
    margin-top: 50px;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.8));
}

.modal-content {
    background-color: #eee;
    max-height: 500px;
    overflow: scroll;
}

.modal-login-explanation {
    color: rgb(57, 109, 57);
    font-size: 1rem;
    padding: 10px;
    background-color: rgb(231, 224, 224);
}

.modal-wide .modal-body {
    overflow-y: scroll;
  }

.callFirebaseAuth {
    color: rgb(150, 115, 0);
    font-size: 18px;
}

.error-message {
    color: rgb(218, 48, 36);;
    text-align: center;
}

.blink_me {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {  
    50% { opacity: 0; }
}