<!-- Modal -->
<div #modalLogin class="modal fade" id="login-in">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <div style="flex-direction: column;">
            <p class="modal-login-explanation">
              <app-localized-text text="modalLoginExplanation"></app-localized-text>
            </p>
            <h4 class="modal-title" style="margin-top: 1rem;">
              <app-localized-text text="modalEmailPassword"></app-localized-text>
            </h4>
          </div>
          <button (click)="closeModal()" type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

          <div class="modal-body">

            <input type="email" 
                   class="form-control mb-3"
                   maxlength="40"
                   [appPlaceholder]="'email'"
                   formControlName="email"
                   (keydown)="onKeydown($event)">

                   <div *ngIf="isInvalidForm('email')" class="alert alert-danger">
                      <div *ngIf="isRequired('email')">
                        <app-localized-text text="emailRequired"></app-localized-text>
                      </div>          
                    </div>         

              <input type="password"
                     class="form-control mb-3"
                     maxlength="40"
                     [appPlaceholder]="'password'"
                     formControlName="password"
                     (keydown)="onKeydown($event)">

                    <div *ngIf="isInvalidForm('password')" class="alert alert-danger">
                      <div *ngIf="isRequired('password')">
                        <app-localized-text text="passwordRequired"></app-localized-text>
                      </div>             
                    </div>  

          </div>
        </form>
        <div *ngIf="errors.length > 0">
          <p *ngFor="let error of errors" class="error-message">
            {{ error.detail }}
          </p>
        </div>

        <ng-container *ngIf="authenticationInProgress">
          <p class="callFirebaseAuth text-center blink_me">
            <app-localized-text text="authenticationInProgress"></app-localized-text>
          </p>
        </ng-container>

        <div class="modal-footer">
          <button (click)="closeModal()" type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          <button [disabled]="!loginForm.valid" (click)="login()" type="button" class="btn btn-success" >LogIn</button>
        </div>
      </div>
    </div>
  </div>
  <!-- End Modal -->