<div class="card shadow-lg text-center" style="background-color: rgb(119, 60, 21);">
    <div class="card-body text-white">
      <h5 class="card-title">
        <span class=text-title>
            <app-localized-text text="statisticsNumberActivities"></app-localized-text> 
        </span>
        <span class="text-value">
            {{activityDatas.activities.length}}
        </span>
        <div class="pt-2" style="font-size: 0.8rem;">
            <app-localized-text text="statisticsFrom"></app-localized-text>
            <app-converter [value]="activityDatas.dateMin" type="date"></app-converter>
            <app-localized-text text="statisticsTo"></app-localized-text>
            <app-converter [value]="activityDatas.dateMax" type="date"></app-converter>
        </div>
      </h5>
      <div class="column">

        <div class="row">
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsTotalDistance"></app-localized-text>
                </span>
                <span class="text-value">
                    <app-converter [value]="activityDatas.totalDistance" type="distance"></app-converter>
                </span>
            </div>
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsAverageDistance"></app-localized-text>
                </span>
                <span class="text-value">
                    <app-converter [value]="activityDatas.averageDistance" type="distance"></app-converter>
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsTotalTime"></app-localized-text>
                </span>
                <span class="text-value">
                    {{activityDatas.totalTimeString}}
                </span>
            </div>
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsCalories"></app-localized-text>
                </span>
                <span class="text-value">
                    {{activityDatas.totalCalories}}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsAverageSpeed"></app-localized-text>
                </span>
                <span class="text-value">
                    <app-converter [value]="activityDatas.averageSpeed" type="speed"></app-converter>
                </span>
            </div>
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsCompetition"></app-localized-text>
                </span>
                <span class="text-value">
                    {{activityDatas.numberCompetition}}
                </span>
            </div>
        </div>

        <div class="row">
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsMinSpeed"></app-localized-text>
                </span>
                <span class="text-value">
                    <app-converter [value]="activityDatas.minSpeed" type="speed"></app-converter>
                </span>
            </div>
            <div class="col-6 p-1">
                <span class=text-title>
                    <app-localized-text text="statisticsMaxSpeed"></app-localized-text>
                </span>
                <span class="text-value">
                    <app-converter [value]="activityDatas.maxSpeed" type="speed"></app-converter>
                </span>
            </div>
        </div>

      </div>
      <div class="mt-2">
        <app-localized-text text="statisticsStartingCity"></app-localized-text>
        <div>
        <span style="font-size: 0.8rem;" *ngFor="let item of activityDatas.mapCityStarts | keyvalue:orderbyValueDsc">
            {{item.key}}: {{item.value}} <span> - </span>
        </span>
        </div>

    </div>
  </div>